@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgb(0, 0, 0);
    width: 100%;
}
header img{
    padding: 20px;
    height: 90px;
}
body{
    background-image: url(../../images/background_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}
.main{
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;
    width: 500px;
    padding: 40px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main img{
    margin-bottom: 20px;
    
}
.main h2{
    color: rgb(151, 145, 145);
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}
.main p {
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}
.main label p{
    color: rgb(255, 106, 0);
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}
.email, .password, [input]{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 42px;
    width: 100%;
}
.mostrarSenha{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    color: white;
}
.mostrarSenha p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    color: rgb(255, 255, 255);
    font: 15pt normal;
}
.botao button{
    border: none;
    padding: 15px;
    margin-bottom: 5px;
    width: 100%;
    color: rgb(0, 0, 0);
    border-radius: 42px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.botao .entrar{
    background-color: rgb(255, 72, 0);
}
.botao .voltar{
    background-color: rgba(196, 196, 196, 1);
}

.cadastro p{
    color: rgb(255, 72, 0);
}
.cadastro a{
    text-decoration: none;
}

.cadastro a p:hover{
    color: rgb(255, 132, 83);
}

/*Animação do form*/
.main{
    animation: fade;
    animation-duration: 2s;
}
@keyframes fade{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
/*Animação do form*/

/* Responsivo */
@media screen and (max-width:600px){
    header img{
        height: 80px;
    }
    .main{
        width: 370px;
    }
    .main h2{
        color: rgb(151, 145, 145);
    }
}
@media screen and (max-width:400px){
    .main{
        width: 350px;
    }
    .cadastro a p{
        font-size: 17px;
    }
}
@media screen and (max-width:370px){
    .main{
        width: 300px;
        padding: 20px;
    }
}
/* Responsivo */